@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
* {
  padding: 0;
  margin: 0;
}
/* Generic style  */
:root {
  font-size: 14px;
  --colorTitleWhite: #fff;
}
.container {
  height: 700px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.textWhite {
  color: var(--colorTitleWhite);
}
.container section {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

.container section .title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
}

.container section hr{
  width: 8%;
  height: 2.5px;
  margin: 15px auto ;
  background: #12A38A;
  border: none;
}
.container section article {
  margin-top: 2%;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.container section article .subtitle {
  width: 55%;
  text-align: center;
  margin: auto;
}

/* Style screen purple */
.purple {
  background: #86509b;
  width: 100%;
  height: 100vh;
}

.purple header {
  width: 90%;
  height: 15%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purple header img {
  width: 100px;
}

.purple header nav a {
  float: left;
  display: block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 15px;
  font-size: 1rem;
  padding: 10px;
}
.purple header nav a:hover {
  background: rgb(96, 59, 110);
  border-radius: 5px;
}
.purple header .active {
  background: rgb(96, 59, 110);
  border-radius: 5px;
}
.purple header .active:hover {
  background: rgb(63, 31, 75);
  border-radius: 5px;
}

.purple .principalView {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 85%;
}
.purple .principalView article {
  text-align: center;
  width: 100%;
}
.purple .principalView article h1 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.purple .principalView article button {
  margin-top: 10%;
  background: #eb7d4b;
  border: none;
  border-bottom: 3px solid rgb(194, 102, 57);
  display: inline-flex;
  font-size: 1rem;
  color: #fff;
  padding: 2% 10%;
}
.purple .principalView article button:hover {
  background: rgb(185, 98, 58);
  color: rgb(211, 211, 211);
}

/* style screen green  */

.green {
  background: #16c1a3;
}

.green section article .contentCharacteristics {
  display: flex;
  flex: 1;
}

.green section article .contentCharacteristics div {
  margin: 5% 25px;
  flex: 1;
}
.green section article .contentCharacteristics div img {
  width: 70%;
  flex: 1;
}
.green section article .contentCharacteristics div h3 {
  margin-top: 20px;
  margin-top: 50px;
}
.green section article .contentCharacteristics div p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 90%;
  margin: 10px auto;
}

/* container gray */
.gray {
  background: #e6f0f7;
}
.gray section {
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.gray section article .contentCharacteristics {
  display: flex;
}

.gray section article .contentCharacteristics div .circleGray {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #868686;
  margin: 20% auto 0;
}

.gray section article .contentCharacteristics div p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 80%;
  margin: 10px auto;
}
.gray section article .contentCharacteristics div .socialNetworks {
  margin-top: 20px;
}

.gray section article .contentCharacteristics div .socialNetworks a {
  display: inline-flex;
  text-decoration: none;
  padding: 7px;
  background: #bcd0de;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}

/* container white */
.white {
  background: #fff;
}

.white section article .porcentaje {
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.white section article .porcentaje .ciclePorcentage p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
.white section article .porcentaje .circlePorcentage {
  display: flex;
  flex-direction: column;
 
}

.c100 .bar {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.circlePorcentage .c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p25 .bar {
  transform: rotate(180deg);
}

.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #307bbb;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

/* container yellow */

.yellow {
  background: #ffdd99;
  /*     height: 1000px;
 */
}

.yellow section article .links {
  margin-top: 20px;
}

.yellow section article .links a {
  text-decoration: none;
  margin: 0 2px;
  font-size: 1.1rem;
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 3px;
  background: #eac884;
  color: #000;
  font-weight: bold;
}
.yellow section article .links a:hover {
  background: #fff;
}

.yellow section article .contenImagesMac {
  display: flex;
}
.yellow section article .contenImagesMac .content {
  width: 100%;
}
.yellow section article .contenImagesMac .content .mac {
  width: 100%;
  margin-top: 40px;
}
.yellow section article .contenImagesMac .content .mac img {
  width: 50%;
  text-align: right;
}
.yellow section article .contenImagesMac .content .mac p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.yellow section article .button {
  margin: 10px 0;
  padding: 10px 50px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #16c1a3;
  border-bottom: 3px solid #13a48b;
}

/* container pink  */

.pink {
  background: #d74680;
}

.pink section article .contentFater {
  width: 100%;
  margin-top: 40px;
}
.pink section article .contentFater .content {
  margin: 50px;
  display: flex;
  text-align: start;
}
.pink section article .contentFater .content .contentText {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pink section article .contentFater .content .contentText .circle {
  width: 75px;
  height: 75px;
  background: #787878;
  border-radius: 50%;
  margin-right: 40px;
}
.pink section article .contentFater .content .contentText .text {
  width: 65%;
  color: #fff;
}

.pink section article .contentFater .content .contentText .text p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
}
.pink section article .contentFater .content .contentText .text h3 {
  margin-top: 10px;
}
.pink section article .contentFater .content .contentText .text .brown {
  color: #ec998d;
}

/* Container blue strong */

.blueStrong {
  background: #3c5499;
}

.blueStrong section article .contentFater form {
  width: 100%;
}
.blueStrong section article .contentFater form .inputText {
  width: 100%;
}
.blueStrong section article .contentFater form .inputText input {
  width: 40%;
  height: 30px;
  margin: 9px 5px;
  padding: 7px;
  background: #263970;
  border: none;
  color: #fff;
}

.blueStrong section article .contentFater form textarea {
  width: 83%;
  height: 200px;
  background: #263970;
  border: none;
  padding: 10px;
  color: #fff;
}

.blueStrong section article .contentFater .button {
  margin-top: 50px;
  padding: 10px 50px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #30bae7;
}
.blueStrong section article .contentFater .button:hover {
    background: #263970;
}

/* Footer */

footer {
  width: 100%;
  background: #344b8e;
}
footer .content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .content a {
  display: inline-flex;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
footer .content a:hover {
  color: #2fb9e6;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
  :root {
    font-size: 8px;
  }
  .container {
    height: 500px;
  }
}

@media screen and (max-width: 646px) {
  .container {
    height: 1150px;
  }


  /* NAV RESPONSIVE */
  .purple header img {
    display: none;
  }
  
  .purple header nav a{
    margin: 0;
    font-weight: bold; 
  }

  /* CONTENT GREEN */
  .green section article .contentCharacteristics {
    flex-direction: column;
    margin: 10% 0;
  }
  .green section article .contentCharacteristics div {
    margin: 3% 30%;
    flex: 1;
  }

  .green section article .contentCharacteristics div h3 {
    margin-top: 0px;
    /* margin-top: 50px; */
  }

  /* CONTENT GRAY */
  .gray {
    height: 1300px;
  }
  .gray section article .contentCharacteristics {
    flex-direction: column;
  }
  .gray section article .contentCharacteristics div .circleGray {
    margin: 10% auto 0;
  }
  /* CONTENT WHITE */
  .white,
  .yellow {
    height: 1000px;
  }
  .white section article .porcentaje {
    flex-direction: column;
  }
  .white section article .porcentaje .circlePorcentage {
    margin: auto;
    margin-top: 10%;
  }

  /* CONTENT YELLOW */
   {
    height: 1000px;
  }
  .yellow section article .contenImagesMac {
    flex-direction: column;
  }

  /* CONTENT PINK */
  .pink {
    height: 600px;
  }
  .pink section article .contentFater .content {
    flex-direction: column;
  }
  .pink section article .contentFater .content {
    margin: 0;
  }
  .pink section article .contentFater .content .contentText {
    margin-bottom: 30px;
  }

  /* CONTAINER STRONGBLUE */
  .blueStrong {
    height: 500px;
  }
}

@media screen and (max-width: 425px) {
  /* CONTAINER STRONGBLUE */
  .blueStrong {
    height: 600px;
  }
  .blueStrong section article .contentFater form .inputText input {
    width: 100%;
    padding: 7px 0 7px 10px;
  }
  .blueStrong section article .contentFater form textarea {
    width: 100%;
    height: 200px;
    background: #263970;
    border: none;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .green {
    height: 1000px;
  }
  .yellow {
    height: 800px;
  }
  .pink {
    height: 750px;
  }
  .blueStrong {
    height: 700px;
  }
  footer .content {
    width: 100%;
    margin: 0;
  }
  footer .content a {
    padding: 3% 2%;
  }
}
